/*IE 8 + 9*/
#sidebar_wrap .form-actions {padding: 0px 0px 0px 0px \0/IE9;}

.ie8 .carousel_item_image img {
	height: 193px;
	width: 250px;
}

.ie8 .region-header-menu .content a {
	font-size: 18px;
	color: white;
	padding: 5px 15px 55px 15px;
}

.ie8 .region-header-menu .content li {
	padding: 15px 0px;
}

.ie8 .region-header-menu .content i {
	margin-right: 15px;
}

.ie8 .team_image img {
	height: 253px;
}