/* Body and Content */
a {
  color: #2f88f0;
}

a:hover {
  color: #00abff;
  text-decoration: none;
}

thead {
  background-color: #2f88f0; 
}

.view-popular-tags a:hover {
  background-color: #2f88f0; 
}

.header_icons li i:hover {
	color: #2f88f0;
}

/* Panel */
.panel_icon {
  background: #2f88f0; 	
}

#main_title_text {
  color: #2f88f0; 
}  

/*Menu*/
.menu ul {
  border-top: 2px solid #2f88f0!important;
}

#main-menu li a.active {
	color: #2f88f0;
}

.menu ul ul {
	border-top: 2px solid #2f88f0;
}

#main-menu li a:hover, #main-menu .menu ul li a:hover  {
	color: #2f88f0;
}

/*Portfolio*/
.portfolio-item-first .mask {
  background-color: rgba(0, 136, 204, 0.7);
}

/* Pricing Table */
.pricehover:hover .price {
  background:#2f88f0; 
}

.pricehover:hover .price {
  border-color: #2f88f0;
}

/* Widgets */
.popular_tags a:hover, .ad_block a:hover, .tabs a.active {
  background: #2f88f0;
}

/*Highlight*/
#highlight {
  background: #2f88f0; 
}

/*Elastic Slider*/
.ei-slider-thumbs li a {
  background: #2f88f0;
}