#banner{   
	position: absolute;   
}     

.oneByOne1{


	margin: 0 auto;
	width: 1060px;
	height: 420px;   

	position: relative;
	overflow: hidden;

}   

#banner .oneByOne_item{
	position: absolute;
	width: 1060px;
	height: 420px;  
	overflow: hidden;  
	display: none;
}         
                                                                                                                  

#banner .oneByOne_item a{
	text-decoration: none;
	color: #B22222;
}
             
#banner .oneByOne_item span.slide2Txt1{ 
  	position: relative;
	float: left;
	margin: 120px 12px 0 120px;
	color: #9ACD32;	
	font-size: 24px;  
	background: #FFFFFF;
	padding: 8px;             
}
 
#banner .oneByOne_item span.slide2Txt2{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 6px 12px 0 120px;
	color: #666666;	
	font-size: 14px;  
	background: #FFFFFF;
	padding: 8px;             
}   

#banner .oneByOne_item span.slide2Txt3{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 6px 12px 0 120px;
	color: #666666;	
	font-size: 12px;  
	background: #FFFFFF;
	padding: 8px;             
}     


                    
  

#banner img.slide1_1{
  position: absolute;
  top: 240px;
  left: 475px;
}
#banner img.slide1_2{
	position: absolute;
  top: 210px;
  left: 95px;
}              
#banner img.slide1_3{
	position: absolute;
	top: 60px;
	left: 245px;
	width: 200px;
}   

#banner .oneByOne_item span.slide1_txt1{
	clear: left;
	position: relative;
	float: left;
	margin: 120px 12px 0 620px;    
	background: #64ADB5;
	padding: 8px;
	color: #FFFFFF;
	font-size: 60px;
} 
#banner .oneByOne_item  span.slide1_txt1 a{
	color: #FFFFFF;
}         
#banner .oneByOne_item span.slide1_txt2{
	clear: left;
	position: relative;
	float: left;
	margin: 12px 12px 0 620px;
	color: #FFFFFF;  
	background: #C95D3B;
	padding: 8px;
	font-size: 22px;
}                   
    

 
#banner img.slide2_1{
	position: absolute;
	width: 80px;
	top: 220px;
	left: 440px;
}
#banner img.slide2_2{
	position: absolute;
	width: 180px;
	top: 150px;
	left: 780px;
}              
#banner img.slide2_3{
	position: absolute;
	top: 50px;
	left: 460px;
}   

#banner .oneByOne_item span.slide2_1{
	clear: left;
	position: relative;
	float: left;
	margin: 120px 12px 0 100px;    
	background: #db8916;     
	padding: 8px;
	color: #FFFFFF;
	font-size: 50px;
} 
#banner .oneByOne_item span.slide2_1 a{
	color: #FFFFFF;
}         
#banner .oneByOne_item span.slide2_2{
	clear: left;
	position: relative;
	float: left;
	margin: 12px 12px 0 100px; 
	
	color: #FFFFFF;  
	background: #8fad30;
	padding: 8px;
	font-size: 30px;
}                  

#banner .oneByOne_item img.bigImage{ 
	position: absolute;
	top: 0; 
	left: 0;

}

#banner .oneByOne_item span.slide5Txt1{ 
  	position: relative;
	float: left;
	margin: 150px 12px 0 600px;
	color: #9ACD32;	
	font-size: 24px;  
	background: #FFFFFF;
	padding: 8px;             
}
 
#banner .oneByOne_item span.slide5Txt2{ 
  	position: relative;
	clear: left;
	float: left;
	margin: 12px 12px 0 600px;
	color: #666666;	
	font-size: 12px;  
	background: #FFFFFF;
	padding: 8px;             
}  

.clear{
	clear: both;
}


/* change the width of the slider in your own responsive media query */
@media only screen and (min-width: 960px) {
	.oneByOne1, #banner .oneByOne_item, #wrapper, #exampleline img{
		width: 1060px;
	}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.oneByOne1, #banner .oneByOne_item, #wrapper, #exampleline img{ width: 748px; }
	
	#banner img.slide1_1{
    width: 70px;
    top: 150px;
    left: 350px;
  }
  
	#banner img.slide1_2{
		width: 100px;
	  top: 120px;
	  left: 60px;
	}  
	            
	#banner img.slide1_3{
		top: 40px;
		left: 170px;
		width: 150px;
	}   

#banner .oneByOne_item span.slide1_txt1{
	clear: left;
	position: relative;
	float: left;
	margin: 100px 12px 0 440px;    
	background: #64ADB5;
	padding: 8px;
	color: #FFFFFF;
	font-size: 40px;
} 
#banner .oneByOne_item  span.slide1_txt1 a{
	color: #FFFFFF;
}         
#banner .oneByOne_item span.slide1_txt2{
	clear: left;
	position: relative;
	float: left;
	margin: 12px 12px 0 440px;
	color: #FFFFFF;  
	background: #C95D3B;
	padding: 8px;
	font-size: 16px;
}                
#banner .oneByOne_item span.slide2_1{
	clear: left;
	position: relative;
	float: left;
	margin: 100px 12px 0 80px;    
	background: #db8916;     
	padding: 8px;
	color: #FFFFFF;
	font-size: 30px;
} 
#banner .oneByOne_item span.slide2_1 a{
	color: #FFFFFF;
}         
#banner .oneByOne_item span.slide2_2{
	clear: left;
	position: relative;
	float: left;
	margin: 12px 12px 0 80px; 
	color: #FFFFFF;  
	background: #8fad30;
	padding: 8px;
	font-size: 18px;
}   
#banner img.slide2_1{
	position: absolute;
	width: 60px;
	top: 160px;
	left: 300px;
}
#banner img.slide2_2{
	position: absolute;
	width: 120px;
	top: 120px;
	left: 560px;
}              
#banner img.slide2_3{
	position: absolute;
	width: 300px;
	top: 30px;
	left: 320px;
}             
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.oneByOne1, #banner .oneByOne_item, #wrapper, #exampleline img{
		width: 460px;
	}	
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.oneByOne1, #banner .oneByOne_item, #wrapper, #exampleline img{
		width: 300px;
	}
	#banner img.slide1_1 {
position: absolute;
top: 40px;
width: 30px;
left: 20px;
}

#banner img.slide1_2 {
position: absolute;
width: 50px;
top: 30px;
left: 120px;
}

#banner img.slide1_3 {
position: absolute;
top: 4px;
left: 60px;
width: 50px;
}

#banner .oneByOne_item span.slide1_txt1 {
clear: left;
position: relative;
float: left;
margin: 20px 12px 0 180px;
background: #64ADB5;
padding: 8px;
color: white;
font-size: 15px;
display: block !important;
}

#banner .oneByOne_item span.slide1_txt2 {
clear: left;
position: relative;
float: left;
margin: 10px 12px 0 163px;
color: white;
background: #C95D3B;
padding: 8px;
font-size: 10px;
display: block !important;
}
	
}